.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container {
    width: 100%;
    margin-right: auto;
	margin-left: auto;
	
	padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  fieldset{
    border: 2px solid rgba(220, 220, 220,0.5);
    border-radius: 5px;
    padding: 1rem;
  }
  
  .table-inlined-edit{
	display:inline-block;
	cursor: pointer;
	padding: 2px;
}
.table-inlined-edit:hover{
  background: rgba(0, 0, 0,0.1);
}

.q-table thead th{
	font-weight: bold !important;
}




.q-modal .container, .q-modal .container-fluid {
  width: auto;
  padding: 0;
  margin: 0;
}

.comp-grid .container-fluid, 
.comp-grid .container,
.q-dialog .container-fluid, 
.q-dialog .container, 
.q-drawer .container-fluid, 
.q-drawer .container{
    padding: 0 !important;
    width: auto !important;
    margin: 0 !important;
}

.reset-grid .container .comp-grid,
.reset-grid .container .comp-grid,
.q-dialog .container .comp-grid,
.q-dialog .container-fluid .comp-grid, 
.q-stepper__step-content .container .comp-grid, 
.q-stepper__step-content .container-fluid .comp-grid, 
.q-drawer .container .comp-grid, .q-drawer .container-fluid .comp-grid{
  max-width:100% !important;
  width:100% !important;
}

.grid-style-transition{
	transition: transform .28s, background-color .28s;
}